NAS_HOST=100.127.251.119
NAS_SSH_PORT=22
NAS_USER=Alpha_Adm
NAS_PASSWORD=replace-me
NAS_DOCKER_BIN=/Volume1/@apps/DockerEngine/dockerd/bin/docker
NAS_DOCKER_COMPOSE_BIN=/Volume1/@apps/DockerEngine/dockerd/bin/docker-compose
